body {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  background: hsl(334, 69%, 72%);
  background: linear-gradient(90deg, rgba(233, 134, 177, 1) 17%, rgba(165, 197, 235, 1) 85%);
}

.top-nav {
  overflow: hidden;
  background-color: #c5b292;
  height: 80px;
}

.top-nav a {
  float: left;
  color: rgb(54, 52, 52);
  text-align: center center;
  padding: 30px 10px;
  text-decoration: none;
}

.btn-nav a {
  border-radius: 25px;
  background: #c5b292;
  box-shadow: 3px 3px 7px #746956,
    -3px -3px 7px #fffbce;
  height: 5px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 5px;
}

.btn-nav a:hover {
  border-radius: 43px;
  background: #c5b292;
  box-shadow: -3px -3px 7px #746956,
    3px 3px 7px #fffbce;
}

.top-nav a:hover {
  opacity: 80%;
}

.top-nav a.active {
  background-color: whitesmoke;
  color: white;
}

.top-nav img {
  padding: 5px;
  width: 680px;
  margin-top: 5px;
  margin-left: 30px;
}

.buscador-google {
  float: right;
  text-align: center center;
  padding: 30px 20px;
  text-decoration: none;
  color: rgb(206, 206, 206);
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr;
  gap: 10px;
  background: rgb(233, 134, 177);
  background: linear-gradient(90deg, rgba(233, 134, 177, 1) 17%, rgba(165, 197, 235, 1) 85%);
  padding: 10px;
}

.grid-container>div {
  background-color: rgb(255, 255, 255, 0.5);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-row: 1/3;
  border-radius: 10px;
}

.ajuste-texto {
  text-align: start;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;

}

.ajuste-texto p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item2 {
  /*grid-row: 1/3;*/
  border-radius: 10px;
}

.item2 img {
  position: center;
  margin: 5px;
  width: 300px;
  margin-left: 20px;
}

.item2 a {
  text-decoration: none;
}

.item2 p,
h2 {
  color: black;
}

.item2 p {
  display: flex;
  align-items: center center;
}

.item2:hover {
  opacity: 70%;
  text-decoration: none;
}

.item3 {
  border-radius: 10px;
}

.item3 img {
  position: center;
  margin: 5px;
  width: 300px;
  margin-left: 20px;

}

.item3 p {
  display: flex;
  align-items: center center;
}

.item3:hover {
  opacity: 70%;
}

.item3 p,
h2 {
  color: black;
}

.item3 a {
  text-decoration: none;
}

.item4 {
  border-radius: 10px;
}

.item4 p {
  display: flex;
  align-items: center center;
}

.item4:hover {
  opacity: 70%;
}

.item4 p,
h2 {
  color: black;
}

.item4 a {
  text-decoration: none;
}

.item4 img {
  position: center;
  margin: 5px;
  width: 300px;
  border-radius: 30px;
  margin-left: 20px;

}

.item5 {
  border-radius: 10px;
}

.item5 img {
  position: center;
  margin: 5px;
  width: 300px;
}

.item5 h1 {
  font-size: 20px;
}

.item6 {
  border-radius: 10px;
}

.item6 a {
  text-decoration: none;
  color: navy;
}

.item6 a:hover {
  opacity: 70%;
}

.item6 img {
  position: center;
  margin: 3px;
  width: 300px;
  border-radius: 50px;
  border: solid 2px;
}

.item7 {
  border-radius: 10px;
}

.item8 {
  border-radius: 10px;
  grid-area: 3/5/3/2;
}

.texto-destacado001 {
  font-size: 20px;
}


.menu-lateral {
  list-style: none;
  text-decoration: none;
  font-size: 25px;
}

.menu-lateral a {
  text-decoration: none;
}

.menu-lateral li {
  border: 2px solid;
  padding: 5px;
  margin: 2px;
  text-align: justify;
  font-size: 20px;
  border-radius: 10px;
}

.menu-lateral li:hover {
  opacity: 80%;
}

.jello-vertical:hover {
  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-17 22:27:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}