body {
    background: rgb(255, 154, 0);
    background: linear-gradient(145deg, rgba(255, 154, 0, 0.7483368347338936) 23%, rgba(240, 46, 46, 0.48503151260504207) 78%);
}

.grid-container {
    display: grid;
    grid-template-columns: 500PX;
    grid-template-areas: "a b a";
    gap: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px;
    width: 500px;
    align-items: start;
    align-items: center;

}

.grid-container>div {
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container {
    grid-area: b;
}

.tarjeta-central {
    display: flex;
    justify-content: center;
    align-items: center;
}