* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(211, 210, 210);
}

.top-nav {
    overflow: hidden;
    background-color: grey;
}

.top-nav a {
    float: left;
    color: rgb(206, 206, 206);
    text-align: center center;
    padding: 20px 15px;
    text-decoration: none;
}

.top-nav a:hover {
    opacity: 80%;
}

.top-nav a.active {
    background-color: whitesmoke;
    color: white;
}


.grid-container {
    display: grid;
    grid-template-columns: 500PX;
    grid-template-areas: "a b a";
    gap: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px;
    width: 500px;
    align-items: start;
}

.grid-container>div {
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container {
    grid-area: b;
}